@import "css/variables.css";
@import "css/reser.css";
body {
    background-color: #fae100;
    height: 100%;
    width: 100%;
    position: relative;
}

.comment_icon {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
}